* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h2{
	font-family: 'Times New Roman', Times, serif;
	color: white;
}
h3{
	margin: 10px;
	text-align: center;
}


body {
	
	background: #FAFAFA;
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}

.wrap {
	
	margin: auto;
	max-width: 800px;
	width: 90%;

}

.principal {
	
	color: #fff;
	padding: 40px ;
	float:left;
	width:50%;
}

.principal .formulario {
	
	color: #212121;
	text-align: center;
	width: 100%;
	height: 580px;
}

.principal .formulario input[type=text] {
	
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario input[type=text].error {
	border: 1px solid #D32F2F;
	color: red;
}

.principal .formulario .boton {
	background:none;
	border: 1px solid green;
	color: black;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.principal .formulario .boton:hover {
	border: 1px solid red;
	color:white;
	background-color: red;
}

/* - Tareas - */
.tareas{
	float:right;
	width:50%;
}
.tareas .lista {
	list-style: none;
	
}

.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}

.tareas .lista li a {
	color: #ffffff;
	display: block;
	padding: 10px 0;
	text-decoration: none;
	
}

.tareas .lista li a:hover {
	text-decoration: underline;
	color: red;
	
	
}
